	<!-- rodapé da pagina: padrão para todas as páginas-->
<footer class="main-footer mt-5 pt-4 text-light">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3>Entre em contato</h3>
				<address>
					+55 21 99876-54321
					<br/>
					<a href="mailto:{{ contato_email }}"
					class="text-light"> {{ contato_email }}</a>
				</address>
			</div>
		</div>
	</div>
	<div class="rights pb-1">
		<div class="container">
			<div class="row">
				<div class="col">
					{% now 'Y'%} Curso Django Fernando. Todos os direitos reservados
				</div>
			</div>
		</div>
</div>

</footer>