{% extends 'base/base.html' %} <!-- pega a base do arquivo base.html -->
{% load static %} <!-- diz ao Django para carregar as tags do template estático 
	que são fornecidas pelo aplicativo django.contrib.staticfiles, que está 
	contido na configuração INSTALLED_APPS.  -->

{% block title%}Python Pro Fernando - Home{% endblock title%} <!-- bloco do título -->

{%block body%} <!-- bloco do corpo da página -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Curso de aprendizagem de Django do Python Pro
				</h2>
				<p>
					Curso de Django do
					<a href="https://www.python.pro.br/" target="_blank"> Python Pro</a>.
				</p>

				<h4 class="mt-4">Inscreva-se</h4>

				<form action="https://herokuapp.us1.list-manage.com/subscribe/post?u=1554767f05cc4f99d09d78d0d&amp;id=fff835f5c1" 
				method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
				class="form-row align-items-center" target="_blank" novalidate>
					<div class="form-row align-items-center">
					  <div class="col-sm-3 my-1">
						<label class="sr-only" for="mce-EMAIL">Email</label>
						<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com">
					  </div>

					  <div class="col-sm-3 my-1">
						<label class="sr-only" for="mce-FNAME">Nome</label>
						<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu nome">
					  </div>

					  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" 
					aria-hidden="true"><input type="text" 
					name="b_1554767f05cc4f99d09d78d0d_fff835f5c1" tabindex="-1" 
					value=""></div>
					 
					  <div class="col-auto my-1">
						<input type="submit" value="Inscreva-se" name="subscribe" 
						id="mc-embedded-subscribe" class="btn btn-primary">
					  </div>
					</div>
				  </form>

				
			</div>
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o Django:
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src="{% static 'img/django.jpeg' %}" alt="logo do django"
						class="img-thumbnail float-start me-4"/>
						Django é um framework para desenvolvimento rápido para 
						web, escrito em Python, que utiliza o padrão 
						model-template-view (MTV). Foi criado originalmente como
						sistema para gerenciar um site jornalístico na cidade 
						de Lawrence, no Kansas. Tornou-se um projeto de código 
						aberto e foi publicado sob a licença BSD em 2005. 
						O nome Django foi inspirado no músico de jazz Django 
						Reinhardt. Django utiliza o princípio DRY 
						(Don't Repeat Yourself), onde faz com que o 
						desenvolvedor aproveite ao máximo o código já feito, 
						evitando a repetição.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body%}